<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>are_we_warming_app</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
    <script src="http://dygraphs.com/1.0.1/dygraph-combined.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
  </head>

  <body>
    <h1>Hello from Layout.erb!</h1>
    <%= yield %>
    <div id="graphdiv"></div>
    <script type="text/javascript">
      g = new Dygraph(

        // containing div
        document.getElementById("graphdiv"),

        // CSV or path to a CSV file.
        "Date,Temperature\n" +
        "2008-05-07,75\n" +
        "2008-05-08,70\n" +
        "2008-05-09,80\n"

      );
    </script>
  </body>
</html>
